//// @access public
//// @author Amado Melguizo Martinez

/// @group Colores
$background: url("../img/fondo.jpg") #1c26ebcc #112958 #080a39cc transparent;

/// @prop {Type} colorMap -- Mapa de colores de backgrounds
$colormap: (
  "backImg": nth($background, 1),
  "backPOP": nth($background, 2),
  "backHead": nth($background, 3),
  "backMenu": nth($background, 4),
  "backTrans": nth($background, 5),
);

/// Mixin para el tamaño de los elementos
/// @parameter {integer} $width [auto] -- Tamaño del ancho.
/// @parameter {integer} $height [auto] -- Tamaño del alto.

@mixin size($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

/// Mixin para el tamaño del margen de los elementos
/// @parameter {integer} $all [auto] -- Margen general.
/// @parameter {integer} $top [auto] -- Margen superior.
/// @parameter {integer} $left [auto] -- Margen izquierdo.
/// @parameter {integer} $right [auto] -- Margen derecho.
/// @parameter {integer} $botton [auto] -- Margen inferior.
/// @parameter {integer} $back [auto] -- Profundidad.

@mixin margin(
  $all: auto,
  $top: auto,
  $left: auto,
  $right: auto,
  $botton: auto,
  $back: auto
) {
  margin: $all auto;
  margin-top: $top;
  margin-left: $left;
  margin-right: $right;
  margin-bottom: $botton;
  z-index: $back;
}

/// Mixin para el padding de los elementos
/// @parameter {integer} $padding [auto] -- Tamaño padding.

@mixin padding($padding) {
  padding: $padding;
}

/// Mixin para el borde de los elementos
/// @parameter {integer} $size [none] -- Tamaño del borde.
/// @parameter {integer} $border-radius [0] -- Radio del borde.
/// @parameter {integer} $border-color [white] -- Color del borde.

@mixin border($size: none, $radius: 0, $color: white) {
  border: $size solid;
  border-radius: $radius;
  border-color: $color;
}

/// Mixin para el texto de los elementos.
/// @parameter {string} $align [center] -- Posicion del texto.
/// @parameter {string} $style [normal] -- Estilo del texto.
/// @parameter {integer} $weight [400] -- Ancho del texto.
/// @parameter {integer} $size [16px] -- Tamaño del texto.
/// @parameter {string} $family [verdana] -- Fuente del texto.

@mixin fontText(
  $align: center,
  $style: normal,
  $weight: 400,
  $size: 16px,
  $family: verdana
) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
  text-align: $align;
}

/// Mixin para centrar los elementos.
/// @parameter {string} $align [center] -- Posicion de los items.

@mixin items($align: center) {
  align-items: $align;
}

/// Mixin para el color de los elementos.
/// @parameter {string} $color [white] -- Color del texto.
/// @parameter {string} $background [transparent] -- Fondo del elemento.
/// @parameter {string} $size [auto] -- Tamaño del fondo del elemento.
/// @parameter {string} $image [none] -- Imagen de fondo del elemento.

@mixin color(
  $color: white,
  $background: transparent,
  $size: auto,
  $image: none
) {
  color: $color;
  background-color: $background;
  background-image: $image;
  background-size: $size;
}

/* Variables */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌌</text></svg>"),
    auto;
}

h1 {
  position: relative;
  @include fontText(
    $style: italic,
    $weight: bold,
    $size: 5em,
    $family: "Century"
  );
}

h2 {
  @include fontText(
    $style: italic,
    $weight: bold,
    $size: 2em,
    $family: "Century"
  );
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  text-align: center;
}

a {
  color: white;
}

table {
  @include padding($padding: 5px);
  box-shadow: 0 4px 8px 0 white, 0 6px 10px 0 white;
  @include border($radius: 12px, $size: 3px);
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

tr {
  @include padding($padding: 15px);
  @include border($size: 3px);
}

th,
td {
  @include padding($padding: 15px);
  @include border($size: 3px);
}

select {
  border: 2px solid black;
  border-radius: 5px;
}

button {
  position: absolute;
  @include border($radius: 5px, $color: white);
  @include fontText;
  @include size($height: 50px, $width: 200px);
  @include color($background: transparent);
  margin-left: 350px;
}

#button {
  @include border($radius: 5px);
  @include margin($left: 350px);
  @include size($width: 200%, $height: 50px);
  position: absolute;

  span {
    :after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      right: -20px;
      transition: 0.5s;
    }

    :hover {
      span {
        padding-right: 25px;
      }

      span {
        :after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }
}
