/* Codigo del autor.html - _central_autor.scss */

.menuAutor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #080a39cc;
  width: 75%;
}

.bubble {
  @include margin($top: 10px, $left: 5px, $right: 5px);
  @include border($size: 3px, $color: white, $radius: 8px);
  position: relative;
  border-radius: 8px;
}


.bubble:after {
  content: "";
  position: absolute;
  left: 20px;
  border-top: 20px solid;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.autor {
  display: flex;
  flex-direction: column;
  @include border($size: 3px, $color: white, $radius: 8px);
  @include margin($top: 10px, $left: 5px, $right: 5px);
  height: 60%;
}

.autorImg{
  padding: 5px;
}

.textAutor1 {
  @include margin($top: 10px, $left: 5px, $right: 5px);
  @include size($width: 32%, $height: 60%);
  @include border($size: 3px, $color: white, $radius: 8px);
}

.textAutor2 {
  @include margin($top: 10px, $left: 5px, $right: 5px);
  @include size($width: 32%, $height: 60%);
  @include border($size: 3px, $color: white, $radius: 8px);
}
