.buttonLogin {
  border-radius: 5px;
  background-color: transparent;
  height: 75px;
  width: 300px;
  left: 875px;

  border: 2px solid black;
  @include margin($top: 10px, $right: 200px);
}
.buttonGame {
  border-radius: 5px;
  background-color: transparent;
  height: 50px;
  width: 200px;
  margin-top: 10px;
  left: 300px;
  border: 2px solid black;
}
.imgVather {
  float: left;
  @include margin($all: 20px, $top: 20p, $left: 20px);
}

.textVather {
  margin-top: 70px;
  width: 60%;
  text-align: center;
  align-items: center;
  float: left;
  border: 3px solid black;
  color: black;
}
.bubble {
  margin-top: 5px;
  border: 3px solid white;
  position: relative;
  border-radius: 8px 8px 8px 8px;
  width: 200px;
}
.bubble:after {
  content: "";
  position: absolute;
  left: 20px;
  border-top: 20px solid blue;
  border-top-color: inherit;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.contenido {
  margin: auto;
  width: 60%;
  height: 60%;
  background: white;
  border-radius: 10px;
}
.menuJuego {
  background: rgba(8, 10, 57, 0.8);
  margin: 20px auto;
  position: relative;
  width: 60%;
  height: 580px;
}

.log {
  box-shadow: 0 4px 8px 0 white, 0 6px 10px 0 white;
  @include size($width: 32%, $height: 450px);
  @include border($size: 3px, $color: white);
  @include color;
  float: right;
  margin-top: 10px;
  margin-right: 70px;
  height: 450px;
}

.cronometro {
  @include border($size: 3px, $color: white);
  @include size($width: 30%);
  text-align: center;
  margin-left: 105px;
}

.div-col {
  column-count: 2;
  text-align: center;
}

#cerrar {
  display: none;
}

#cerrar + label {
  cursor: pointer;
  animation: modal 1s forwards;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}

#cerrar:checked + label,
#cerrar:checked ~ .modal {
  display: none;
}

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
