.buttonLogin {
  border-radius: 5px;
  background-color: transparent;
  height: 100px;
  width: 300px;
  left: 875px;
  border: 2px solid black;
  @include margin($top: 10px, $right: 200px);
}

.buttonGame {
  border-radius: 5px;
  background-color: transparent;
  height: 50px;
  width: 200px;
  margin-top: 10px;
  left: 300px;
  border: 2px solid black;
}

.levelGame {
  border-radius: 5px;
  background-color: transparent;
  height: 100px;
  width: 200px;
  margin-top: 75px;
  
  left: 300px;
  border: 2px solid black;
}

.imgVather {
  float: left;
  @include margin($all: 20px, $top: 20p, $left: 20px);
}

.textVather {
  margin-top: 50px;
  width: 60%;
  text-align: center;
  align-items: center;
  float: left;
  border: 3px solid black;
  color: black;
}

.bubble {
  margin-top: 5px;
  border: 3px solid white;
  position: relative;
  border-radius: 8px 8px 8px 8px;
  width: 200px;
}

.bubble:after {
  content: "";
  position: absolute;
  left: 20px;
  border-top: 20px solid blue;
  border-top-color: inherit;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.contenido {
  margin: auto;
  width: 60%;
  height: 60%;
  background: white;
  border-radius: 10px;
}
.menuJuego {
  background: rgba(8, 10, 57, 0.8);
  margin: 20px auto;
  position: relative;
  width: 60%;
  height: 580px;
}

.log {
  box-shadow: 0 4px 8px 0 white, 0 6px 10px 0 white;
  @include size($width: 32%, $height: 450px);
  @include border($size: 3px, $color: white);
  float: right;
  margin-top: 10px;
  margin-right: 70px;
  height: 450px;
}

.cronometro {
  @include border($size: 3px, $color: white);
  @include size($width: 30%);
  text-align: center;
  margin-left: 105px;
}

.div-col {
  column-count: 2;
  text-align: center;
}

#cerrar {
  display: none;
}

#cerrar + label {
  cursor: pointer;
  animation: modal 1s forwards;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}

#cerrar:checked + label,
#cerrar:checked ~ .modal {
  display: none;
}

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}



////////////////////////////////
// :root{
// 	--num-columnas: 20;
// 	--num-filas: 20;
// 	--size: 42px;
// }

// #idTablero {
//   margin-top: 40px;
//   margin-left: 20px;
//   right: 0px;
//   display: grid;
//   grid-template-columns: repeat(var(--num-columnas), var(--size));
//   grid-template-rows: repeat(var(--num-filas), var(--size));
//   background-color: black;
// 	width: calc(var(--num-columnas)*var(--size));
// }

// #idTablero div {
//   text-align: center;
//   border: 4px solid;
//   border-radius: 12px;
//   line-height: var(--size);
// }

// #idTablero div.destapado {
//   font-family: "Lucida Console", "Courier New", Courier, monospace;
//   font-weight: bold;
//   border: 1px solid #a9a9a9;
// }
// #idTablero div.sinmarcar {
//   background-color: #ff0000;
// }
// #idTablero div.banderaErronea {
//   background-color: #aaaaaa;
//   border: 1px solid #b22222;
// } 

// #idTablero div.c1 {
//   color: #00ffff;
// }
// #idTablero div.c2 {
//   color: #0099ff;
// }
// #idTablero div.c3 {
//   color: #0033ff;
// }
// #idTablero div.c4 {
//   color: #00ff33;
// }
// #idTablero div.c5 {
//   color: #ccff00;
// }
// #idTablero div.c6 {
//   color: #ffcc00;
// }
// #idTablero div.c7 {
//   color: #ff3300;
// }
// #idTablero div.c8 {
//   color: #660000;
// }

// @font-face {
//   font-family: "fontello";
//   src: url("./fontello.woff2") format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }

// [class^="icon-"]:before,
// [class*=" icon-"]:before {
//   font-family: "fontello";
//   width: 1em;
//   margin-right: 0.2em;
//   line-height: 1em;
//   margin-left: 0.2em;
// }

// .icon-bandera:before {
//   content: "\e800";
//   color: #b22222;
// }

// .icon-bomba:before {
//   content: "\f1e2";
// }