@media (max-width: 768px) {
  footer {
    height: 10%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 15px;
  }
  /*Pagina autor*/
  .griverious {
    display: none;
  }

  .autor {
    flex-direction: row;
    align-items: center;
  }

  .menuAutor {
    flex-direction: column;
  }

  .textAutor1 {
    width: 95%;
  }

  .textAutor2 {
    width: 95%;
  }

  /*Pagina Login*/
  .imgTrooper {
    max-width: 95%;
  }

  .menuForm {
    flex-direction: row;
    width: 100%;
    height: 90%;
  }

  .trooper {
    display: flex;
    align-items: center;
  }

  table {
    margin-top: 10px;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  .textTrooper {
    width: 63%;
  }

  /*Pagina juego*/
  h2 {
    font-size: 1em;
  }

  .imgVather {
    max-width: 50%;
  }

  .textVather {
    width: 50%;
  }

  .contenido {
    width: 95%;
    flex-direction: row;
    align-items: center;
  }

  .botones {
    flex-wrap: nowrap;
    width: 100%;
  }

  .buttonGame {
    height: 58%;
  }

  .buttonLogin {
    order: 1;
    height: auto;
  }

  .menuJuego {
    width: auto;
  }

  .tr {
    flex-direction: row;
  }
  .log{
    width: 55%;
  }
  #col{
  }
}
