/* Codigo del header/nav - _menu_superior.scss */

nav{
  display: flex;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0px;
  @include color($background: #112958);
  height: 77px;
}

