/* Codigo del footer - _pie.scss */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #112958;
  width: 100%;
  position: fixed;
  bottom: 0px;
  @include fontText;
}
.footerGame{
  position: static;
}


.social-icons a {
  width: 150px;
  height: 45px;
  line-height:44px;
  color:grey;
  text-align: center;
  font-size: 24px;
  display: inline-block;
  border-radius: 50%;
	-webkit-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
}

.social-icons a.linkedin:hover
{background-color:#3b5998}
.social-icons a.gmail:hover
{background-color:#00aced}
.social-icons a.cv:hover
{background-color:grey}
.social-icons a.github:hover
{background-color:black}

