.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.menu {
  @include margin($all: 50px, $top: 175px);
  @include size($width: 60%);
  position: relative;
}

body {
  @include margin($all: 0px);
  @include color($image: url("../img/fondo.jpg"), $size: cover);
}

.modal {
  @include size($height: 100vh,$width:100%);
  background: rgba(28, 38, 235, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  animation: modal 1s forwards;
  visibility: hidden;
  opacity: 0;
}
