* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
}
/** Ejemplo con position relative **/
h1 {
  left: 50px;
  position: relative;
  top: 10px;
  width: 80%;
}

/** Elementos con position absolute y z-index **/
.menu {
  background-color: lightblue;
  height: 560px;
  margin: 20px auto;
  position: relative;
  width: 60%;
}

.menu .large {
  background-color: #b0e3e6;
  position: absolute;
  height: 450px;
  width: 800px;
  margin: 60px ;

}
.menu .large .element-first{
  background-color: #bec6c7;
  position: absolute;
  height: 100px;
  width: 400px;
  margin: 180px ;
  padding: 1px;
  text-align: center;
}
button{
  background-color: rgb(247, 222, 174);
  position: absolute;
  height: 50px;
  width: 200px;
  margin: 290px;
}
/** Elemento fixed **/
.footer {
  background-color: burlywood;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.footer div,
.sticky-menu section {
  display: inline-block;
  padding: 20px;
  text-align: center;
  width: 100px;
}

/* Sticky Menu */
.sticky-menu {
  background-color: burlywood;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}

