* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/* Sticky Menu */
.sticky-menu {
  background-color: #112958;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}


body {
  background-image: url("img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}
/** Ejemplo con position relative **/
h1 {
  text-align: center;
  position: relative;
  font-style:italic;
  font-weight:bold;
  font-size:5em;
  color:white;
  font-family:'Century';
}

/** Elementos con position absolute y z-index **/
.menu {
  margin: 50px auto;
  margin-top: 175px;
  position: relative;
  width: 60%;
}

button{
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  position: absolute;
  height: 50px;
  width: 200px;
  margin-left: 350px;
  border-color: white;
  color: white;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


a{
  color: white;
}

h3{
  color: black;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.modal {
	width: 100%;
	height: 100vh;
	background: rgba(28, 38, 235, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	animation: modal 1s forwards;
	visibility: hidden;
	opacity: 0;
}

.contenido {
	margin: auto;
	width: 60%;
	height: 60%;
	background: white;
	border-radius: 10px;
}
.startButton{
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  height: 50px;
  width: 200px;
  margin-top: 5px;
  border:2px solid black;
}
.imgVather{
float: left;
margin: 20px auto;
}

.textVather{
  margin-top: 70px;
  width: 60%;
  align-items: center;
  float: left;
  border: 3px solid black;
}

#cerrar {
	display: none;
}

#cerrar + label {
	position: fixed;
	color: #fff;
	font-size: 25px;
	z-index: 50;
	background: rgb(13, 113, 160);
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	right: 150px;
	top: 150px;
	cursor: pointer;
	animation: modal 1s forwards;
	visibility: hidden;
	opacity: 0;
  text-align: center;
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
	display: none;
}

@keyframes modal {
	100% {
		visibility: visible;
		opacity: 1;
	}
}

/** Elemento fixed **/
.footer {
  background-color: #112958;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.footer div,
.sticky-menu section {
  display: inline-block;
  padding: 20px;
  text-align: center;
  color: white;
  width: 100px;
}

